<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>873226564206-i38fuee6vv0jh3m7a902487qtb1n1m5n.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.873226564206-i38fuee6vv0jh3m7a902487qtb1n1m5n</string>
	<key>API_KEY</key>
	<string>AIzaSyAG9B02LJtCywZdzl3n5qkq0GNO-EtWwm8</string>
	<key>GCM_SENDER_ID</key>
	<string>873226564206</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>addressbook</string>
	<key>PROJECT_ID</key>
	<string>address-book-6dd09</string>
	<key>STORAGE_BUCKET</key>
	<string>address-book-6dd09.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:873226564206:ios:01a1d9c1ae0b9a6a03ac7f</string>
	<key>DATABASE_URL</key>
	<string>https://address-book-6dd09.firebaseio.com</string>
</dict>
</plist>